/* plano de creacion y fondo con particulas  */
body{
    margin: 0%;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

    height: 100vh;
}
#particles-js{
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, #c5c5c5, #000000, #777777);
    background-size: 400% 300%;
    animation: wallpaper 20s ease infinite;
    
}
/* ventanas  */
.botonConfig{
    right: 0%;
    border-radius: 4vw;
    top: 0%;
    background-color: rgb(105, 105, 105);
    position: absolute;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}
.optionsMenu{
    position: fixed;
    right: 2%;
    top: 2%;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 0 4vw rgba(255, 255, 255, 0.336);
    width: 20vw;
    height: 40vw;
}

/* Toda la cara de gato que me lleva lite  */

.liteHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    position: fixed;
    transition: opacity 1s;
    top: 30%;
    animation: animatedBackgroundColorsPro 10s linear infinite;
}

.ojos{
    transition: opacity 1s;
    display: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15vw;
    height: 6vw;
    position: absolute;
    top: 25%;
}
.ojo{
    
    position: absolute;
    border-radius: 6vw;
    border-left: 2.275vw solid transparent;
    border-right: 2.275vw solid transparent;
    border-top: 6vw solid transparent;
    border-color: rgb(255, 255, 255);
    
    
}
.ojo1{
    left: 0%;
    cursor: pointer;
    
}
.ojo2{
    right: 0%;
}
.voca{
    transition: opacity 1s;
    border-radius: 10vw;
    display: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 6vw solid transparent;
    border-bottom: 2vw solid white;
    border-right: 5vw solid transparent;
    width: 0vw;
    height: 0vw;
    position: absolute;
    top: 25%; 
    /* transform: rotate(90deg); */
    /* animation: hablar 0.3s infinite; */
}
.cabeza{
    top:0%;
    z-index: 0;
    border-radius: 10vw;
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: rgb(141, 141, 141);
    box-shadow: 0px 0px 50px white;
    inset: 0px 0px 50px white;
animation: epicshadow 20s linear infinite;
}
.orejaA{
    transition: transform 1s;
    right: 5%;
    top:-15%;
    position: absolute;
    height: 15vw;
    width: 7vw;
    background-color: rgb(134, 134, 134);
    border-radius: 10vw;
    box-shadow: 0px 0px 50px white;
    inset: 0px 0px 50px white;
animation: epicshadow 20s linear infinite;

    
}
.orejaB{
    transition: transform 1s;
    left: 5%;
    top:-15%;
    position: absolute;
    height: 15vw;
    width: 7vw;
    background-color: rgb(134, 134, 134);
    border-radius: 10vw;
    box-shadow: 0px 0px 50px white;
    inset: 0px 0px 50px white;
animation: epicshadow 20s linear infinite;
    
}
/* animaciones y clases para activarlas */
.hablar{
    animation: hablar 0.3s ease; 
 }
@keyframes hablar {
    0%{
        top: 25%;
        border-bottom: 2vw solid white;
    }
    50%{
        top: 27%;
        border-bottom: 0.1vw solid white;
    }
    100%{
        top: 25%;
        border-bottom: 2vw solid white;
    }
}
.parpadear{
    animation: parpadear 0.5s ease; 
}
@keyframes parpadear {
    0%{
        top: 0%;
        border-top: 6vw solid white;
    }
    50%{
        top: 50%;
        border-top: 0.1vw solid white;
    }
    100%{
        top: 0%;
        border-top: 6vw solid white;
    }
}

@keyframes epicshadow {
    0% {
        box-shadow: 0 0 0.5vw white,
                    inset 0 0 0.5vw white;
                    filter: hue-rotate(0deg);

                }
    20% {
        box-shadow: 0 0 0.7vw rgb(134, 134, 134),
                    inset 0 0 0.7vw rgb(134, 134, 134);

                }
                40% {
        box-shadow: 0 0 0.4vw white,
        inset 0 0 0.4vw white;

    }
    60% {
        box-shadow: 0 0 1vw rgb(134, 134, 134),
                    inset 0 0 1vw rgb(134, 134, 134);

    }
    80% {
        box-shadow: 0 0 2vw white,
                    inset 0 0 1.5vw white;

    }
    100% {
        box-shadow: 0 0 0.5vw white,
                    inset 0 0 0.5vw white;
                    filter: hue-rotate(360deg);
                }
            }

@keyframes fullscreen {
    0% {width: 0% 50%;}
    50% {background-position: 90% 90%;}
    100% {background-position: 0% 50%;}
}

@keyframes wallpaper {
    0% {background-position: 0% 50%;}
    50% {background-position: 90% 90%;}
    100% {background-position: 0% 50%;}
}
/* pantalla de carga multi uso  */

.loading{
    position: fixed;
    width: 30vw;
    height: 26.5vw;
    animation: animatedBackgroundColorsPro 10s linear infinite;
    transform: scale(0.6);
    transition: opacity 1s;
}


@keyframes animatedBackgroundColorsPro {
    0%{
        filter: hue-rotate(0deg);
        
    }
    100%{
        filter: hue-rotate(360deg);
    }

    
}

.loading .blocks{
    position: absolute;
    width: 1vw;
    height: 3vw;
    border-radius: 4vw;
    background-color: black;
    left: 50%;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: loadingAnimation 1.9s ease-in-out infinite;
    /* esto es para retardar la animacion por un segundo aca la ecuacion 1segundo / cantidad de bloques en este caso 20 = 0.05s */
    animation-delay: calc(0.05s * var(--i));
}
@keyframes loadingAnimation {
    0%
    {
    background-color: black;
    box-shadow: none;
    }

    50.1%,100%
    {
        background-color: #0f0;
        box-shadow: 0 0 5px #0f0;
        box-shadow: 0 0 15px #0f0;
        box-shadow: 0 0 30px #0f0;
        box-shadow: 0 0 60px #0f0;
        box-shadow: 0 0 90px #0f0;
    }
}

/* formas de ocultar  */
.oculto{
    transform: scale(0);
    opacity: 0%;
    transition: opacity 1s;
}
.ocultoSeco{
    transform: scale(0);
    /* transition: opacity 1s; */
    opacity: 0%;
}
.ocultarOrejas{
    transition: transform 1s;
    transform: scale(0.1)
    
}

/* adaptacion de pantallas  */
@media screen and (max-width:1081px){
    .cutte_kitten{
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
    }
    .orejita1{
        top:29%;
        left: 33%;
        height: 20vw;
        width: 12vw;
    }
    .orejita2{
        top:29%;
        right: 33%;
        height: 20vw;
        width: 12vw;
    }
    .liteHead{
    top: 40%;
    transform: scale(3);
    }

.loading{
    transform: scale(0.8);
    top: 29%;
}
.botonConfig{
    width: 10vw;
    height: 10vw;
}
.loading .blocks{
    width: 4vw;
    height: 6vw;
    
}

}