/* plano de creacion y fondo con particulas  */
body{
    margin: 0%;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

    height: 100vh;
}
#particles-js{
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, #c5c5c5, #000000, #777777);
    background-size: 400% 300%;
   
    animation: wallpaper 20s ease infinite;
    
}
/* iconos y animaciones de iconos */
.microfono{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 3vw;
    transition: opacity 2s;
}
.configSVG{
    position: absolute;
    width: 70%;
    height: 70%;
}
.botonConfig{
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    right: 0%;
    border-radius: 4vw;
    top: 0%;
    background-color: rgb(105, 105, 105);
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.botonConfig:hover{
    animation: GirarLol 1s ease infinite;
 
}

@keyframes GirarLol {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
}
/* ventanas  */
.ventanaBusqueda{
    top: 10%;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 10vw;
    border-radius: 2vw;
    background-color: rgba(255, 235, 205, 0.39);
    box-shadow: 0 0 50px rgba(255, 235, 205, 0.418);
}

.optionsMenu{
    border-radius: 1vw;
    transition: right 1s;
    position: fixed;
    right: 2%;
    top: 2%;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 0 4vw rgba(255, 255, 255, 0.336);
    width: 20vw;
    height: 40vw;
}

/* Toda la cara de gato que me lleva lite  */

.liteHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    position: fixed;
    transition: opacity 1s;
    top: 30%;
    animation: animatedBackgroundColorsPro 10s linear infinite;
}

.ojos{
    transition: opacity 1s;
    display: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15vw;
    height: 6vw;
    position: absolute;
    top: 25%;
}
.ojo{
    
    position: absolute;
    border-radius: 6vw;
    width: 4.7vw;
    border-bottom: 3vw solid white;
    border-top: 3vw solid white;
    border-color: white;
    background-color: white;
    
    
}
.ojo1{
    left: 0%;
    cursor: pointer;
    
}
.ojo2{
    right: 0%;
}
.voca{
    transition: opacity 1s;
    border-radius: 10vw;
    display: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 6vw solid transparent;
    border-bottom: 2vw solid white;
    width: 5vw;
    height: 0vw;
    position: absolute;
    top: 25%; 
    /* transform: rotate(90deg); */
    /* animation: hablar 0.3s infinite; */
}
.cabeza{
    top:0%;
    z-index: 0;
    border-radius: 10vw;
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: rgb(141, 141, 141);
    box-shadow: 0px 0px 50px white;
    inset: 0px 0px 50px white;
animation: epicshadow 20s linear infinite;
}
.orejaA{
    transition: transform 1s;
    left: 5%;
    top:-15%;
    position: absolute;
    height: 15vw;
    width: 7vw;
    background-color: rgb(134, 134, 134);
    border-radius: 10vw;
    box-shadow: 0px 0px 10px white;
    inset: 0px 0px 10px white;
/* animation: epicshadow 20s linear infinite; */

    
}
.orejaB{
    transition: transform 1s;
    right: 5%;
    top:-15%;
    position: absolute;
    height: 15vw;
    width: 7vw;
    background-color: rgb(134, 134, 134);
    border-radius: 10vw;
    box-shadow: 0px 0px 10px white;
    inset: 0px 0px 10px white;
/* animation: epicshadow 20s linear infinite; */
    
}
/* animaciones y clases para activarlas */

.parpadear{
    animation: parpadear 0.5s ease; 
}
@keyframes parpadear {
    0%{
        top: 0%;
        border-top: 3vw solid white;
        border-bottom: 3vw solid white;
    }
    50%{
        top: 50%;
        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;
    }
    100%{
        top: 0%;
        border-top: 3vw solid white;
        border-bottom: 3vw solid white;
    }
}

@keyframes epicshadow {
    0% {
        box-shadow: 0 0 0.5vw white,
                    inset 0 0 0.5vw white;
                    filter: hue-rotate(0deg);

                }
    20% {
        box-shadow: 0 0 0.7vw rgb(134, 134, 134),
                    inset 0 0 0.7vw rgb(134, 134, 134);

                }
                40% {
        box-shadow: 0 0 0.4vw white,
        inset 0 0 0.4vw white;

    }
    60% {
        box-shadow: 0 0 1vw rgb(134, 134, 134),
                    inset 0 0 1vw rgb(134, 134, 134);

    }
    80% {
        box-shadow: 0 0 2vw white,
                    inset 0 0 1.5vw white;

    }
    100% {
        box-shadow: 0 0 0.5vw white,
                    inset 0 0 0.5vw white;
                    filter: hue-rotate(360deg);
                }
            }
            .multiColorShadow{
                animation: multiColorShadow 20s ease infinite;
                background-color: rgb(30, 255, 0);
            }
            @keyframes multiColorShadow {
                0% {
                    box-shadow: 0 0 0.5vw rgb(9, 255, 0),
                                inset 0 0 0.5vw rgb(21, 255, 0);
                                filter: hue-rotate(0deg);
            
                            }
                20% {
                    box-shadow: 0 0 0.7vw rgb(9, 255, 0),
                                inset 0 0 0.7vw rgb(0, 255, 13);
            
                            }
                            40% {
                    box-shadow: 0 0 0.4vw rgb(21, 255, 0),
                    inset 0 0 0.4vw rgb(30, 255, 0);
            
                }
                60% {
                    box-shadow: 0 0 1vw rgb(21, 255, 0),
                                inset 0 0 1vw rgb(51, 255, 0);
            
                }
                80% {
                    box-shadow: 0 0 2vw rgb(0, 255, 13),
                                inset 0 0 1.5vw rgb(9, 255, 0);
            
                }
                100% {
                    box-shadow: 0 0 0.5vw rgb(0, 255, 21),
                                inset 0 0 0.5vw rgb(0, 255, 13);
                                filter: hue-rotate(360deg);
                            }
                        }


@keyframes fullscreen {
    0% {width: 0% 50%;}
    50% {background-position: 90% 90%;}
    100% {background-position: 0% 50%;}
}

@keyframes wallpaper {
    0% {background-position: 0% 50%;}
    50% {background-position: 90% 90%;}
    100% {background-position: 0% 50%;}
}
/* pantalla de carga multi uso  */


@keyframes animatedBackgroundColorsPro {
    0%{
        filter: hue-rotate(0deg);
        
    }
    100%{
        filter: hue-rotate(360deg);
    }

    
}



/* formas de ocultar  */
.oculto{
    transition: opacity 1s, transform 10s;
    opacity: 0%;
    transform: scale(0);
    
}
.ocultoSeco{
    transform: scale(0);
    /* transition: opacity 1s; */
    opacity: 0%;
}
.ocultarOrejas{
    transition: transform 1s;
    transform: scale(0)
    
}
.ocultarVentana{
    transition: right 2s;
    right:-100%;
}
/* animaciones faciales y mas detalles  */





.bajarOrejaI{
    animation: bajarOrejaI 3s ease;
}

@keyframes bajarOrejaI {
    0%
    {
        top:-15%;
        transform: rotate(0deg);
    }
    15%
    {
        top:25%;
        transform: rotate(10deg);
    }
    85%
    {
        top:25%;
        transform: rotate(10deg);
    }
    100%
    {
        top:-15%;
        transform: rotate(0deg);
    }
}
.bajarOrejaD{
    animation: bajarOrejaD 3s ease;
}

@keyframes bajarOrejaD {
    0%
    {
        top:-15%;
        transform: rotate(0deg);
    }
    15%
    {
        top:25%;
        transform: rotate(-10deg);
    }
    85%
    {
        top:25%;
        transform: rotate(-10deg);
    }
    100%
    {
        top:-15%;
        transform: rotate(0deg);
    }
}

.despertarOjos{
    animation: despertarOjos 4s ease;
}

@keyframes despertarOjos {
    0%
    {
        top: 50%;
        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;
    }
    50%
    {
     top: 25%;
     border-top: 1.5vw solid white;
     border-bottom: 1.5vw solid white;
    }
    55%
    {
     top: 50%;
     border-top: 0.1vw solid white;
     border-bottom: 0.1vw solid white;
    }
    75%{
        top: 25%;
        border-top: 1.5vw solid white;
        border-bottom: 1.5vw solid white;
    }

    80%
        {
            top: 50%;
            border-top: 0.1vw solid white;
            border-bottom: 0.1vw solid white;
        }

    100%{
        top: 0%;
        border-top: 3vw solid white;
        border-bottom: 3vw solid white;
    }

}

.despertarVoca{
    animation: despertarVoca 7s ease; 
}
@keyframes despertarVoca {
    0%
    {
        top: 27%;
        border-bottom: 0vw solid white;
    }
    75%
    {
        top: 27%;
        border-bottom: 0vw solid white;
    }
    100%
    {
        top: 25%;
        border-bottom: 2vw solid white;
    }

}

.despertarOreja1{
    animation: despertarOrejas 9s ease;  
}
.despertarOreja2{
    animation: despertarOrejas 9.5s ease;  
}
@keyframes despertarOrejas {
    0%
    {
        top:50%;
    height: 0vw;
    }
    90%
    {
        top:50%;
        height: 0vw;
    }
    100%
    {
        top:-15%;
        height: 15vw;
    }

}


.forzarOjos{
    animation: forzarOjos 3s ease;
}
@keyframes forzarOjos {
    0%{
        border-bottom: 3vw solid white;
    }
    10%{
        border-bottom: 2vw solid white;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    90%{
        border-bottom: 2vw solid white;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100%{
        border-bottom: 3vw solid white;
    }
}

.aburrirOjos{
animation: aburrirOjos 3s ease;
}

@keyframes aburrirOjos {
    0%{
        top: 0%;
        border-top: 3vw solid white; 
    }
    10%{
        top: 16%;
        border-top: 2vw solid white;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    90%{
        top: 16%;
        border-top: 2vw solid white;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    100%{
        top: 0%;
        border-top: 3vw solid white; 
    }
}


.entristecerVoca{
   animation: entristecerVoca 3s ease;
}
@keyframes entristecerVoca {
    0%{
        top: 25%;
    border-top: 6vw solid transparent;
    border-bottom: 2vw solid white;
    }
    10%{
        top: 26%;
        border-top: 6vw solid transparent;
        border-bottom: 1vw solid white;
    }
    90%{
        top: 26%;
        border-top: 6vw solid transparent;
        border-bottom: 1vw solid white;
    }
    100%{
        top: 25%;
        border-top: 6vw solid transparent;
        border-bottom: 2vw solid white;
    }
}

.sonreir{
    animation: sonreir 3s ease;
}
@keyframes sonreir {
    0%{
        top: 25%;
        width: 5vw;
    border-top: 6vw solid transparent;
    border-bottom: 2vw solid white;
    }
    10%{
        top: 34%;
        width: 6vw;
        border-top: 4vw solid transparent;
        border-bottom: 3vw solid white;
    }
    90%{
        top: 34%;
        width: 6vw;
        border-top: 4vw solid transparent;
        border-bottom: 3vw solid white;
    }
    100%{
        top: 25%;
        width: 5vw;
        border-top: 6vw solid transparent;
        border-bottom: 2vw solid white;
    }
}

.agitarOrejaA{
    animation: agitarOrejaA 1.5s ease;
}
@keyframes agitarOrejaA {
    0%{
        left: 5%;
        transform: rotate(0deg);
    }
    10%{
        left: 2%;
        transform: rotate(-20deg);
    }
    20%{
        left: 5%;
        transform: rotate(0deg); 
    }
    30%{
        left: 2%;
        transform: rotate(-20deg);
    }
    40%{
        left: 5%;
        transform: rotate(0deg);
    }
    50%{
        left: 2%;
        transform: rotate(-20deg);
    }
    80%{
        left: 5%;
        transform: rotate(0deg); 
    }
    90%{
        left: 2%;
        transform: rotate(-20deg);
    }
    90%{
        left: 5%;
        transform: rotate(0deg);
    }
}
.agitarOrejaB{
    animation: agitarOrejaB 1.5s ease;
}
@keyframes agitarOrejaB {
    0%{
        right: 5%;
        transform: rotate(0deg);
    }
    10%{
        right: 2%;
        transform: rotate(20deg);
    }
    20%{
        right: 5%;
        transform: rotate(0deg); 
    }
    30%{
        right: 2%;
        transform: rotate(20deg);
    }
    40%{
        right: 5%;
        transform: rotate(0deg);
    }
    50%{
        right: 2%;
        transform: rotate(20deg);
    }
    80%{
        right: 5%;
        transform: rotate(0deg); 
    }
    90%{
        right: 2%;
        transform: rotate(20deg);
    }
    90%{
        right: 5%;
        transform: rotate(0deg);
    }
}

.hablar{
    animation: hablar 0.3s ease; 
 }
@keyframes hablar {
    0%{
        top: 25%;
        border-bottom: 2vw solid white;
    }
    50%{
        top: 27%;
        border-bottom: 0.1vw solid white;
    }
    100%{
        top: 25%;
        border-bottom: 2vw solid white;
    }
}

.moverOjosAD{
    animation: moverOjosAD 3s ease;
}
@keyframes moverOjosAD {
    0%
    {
        left: 12.5%;
    }
    15%{
        left: 8%;
    }
    85%{
        left: 8%;
    }
    
    100%{
        left: 12.5%;
    }
}
.moverOjosAI{
    animation: moverOjosAI 3s ease;
}
@keyframes moverOjosAI {
    0%
    {
        left: 12.5%;
    }
    15%{
        left: 16%;
    }
    85%{
        left: 16%;
    }
    
    100%{
        left: 12.5%;
    }
}









/* adaptacion de pantallas  */
@media screen and (max-width:800px){
    .cutte_kitten{
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
    }
    .orejita1{
        top:29%;
        left: 33%;
        height: 20vw;
        width: 12vw;
    }
    .orejita2{
        top:29%;
        right: 33%;
        height: 20vw;
        width: 12vw;
    }
    .liteHead{
    top: 40%;
    transform: scale(3);
    }

.botonConfig{
    width: 10vw;
    height: 10vw;
}


}